<div class="mt-5">
    <h3>Administración de clientes</h3>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="text-center" scope="col">ID</th>
            <th class="text-center" scope="col">DNI</th>
            <th class="text-center" scope="col">Nombre</th>
            <th class="text-center" scope="col">Apellido</th>
            <th class="text-center" scope="col">Editar</th>
            <th class="text-center" scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text-center" scope="row">1</th>
            <td class="text-center">538784564</td>
            <td class="text-center">Mark</td>
            <td class="text-center">Otto</td>
            <td class="text-center"><i class="far fa-edit"></i></td>
            <td class="text-center"><i class="fas fa-trash"></i></td>
        </tr>
    </tbody>
</table>