@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

* {
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
}

/************************************ HEADER START ************************************/
.header {
    background: linear-gradient(45deg, #1D4289 0%, #1D4289 60%, #C80F2E 60%, #C80F2E 100%);
    background-color: #1D4289;
    width: 100%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
}

.header__company-name {
    font-size: 4vw;
    padding: 1em;
}

.header__user-info {
    height: 100%;
    margin-right: 0.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1vw;
}

.header__user-wellcome {
    display: flex;
    align-items: center;
    padding-right: 2vw;
}

.header__user-cart--number {
    color: #FFFFFF;
    padding: 0.1vw 0.6vw;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    margin-left: -2.5vw;
    margin-top: 1vw;
}
/************************************ HEADER END ************************************/

/************************************ SHOP PAGE START ************************************/
.container-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/************************************ PRODUCT START ************************************/
.product {
    margin: 3vw;
    padding: 1vw;
    border: 0.2vw solid;
    border-color: #C80F2E #C80F2E #1D4289 #1D4289;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__image {
    width: 100%;
    border-radius: 5px;
}

.product__detail {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
}

.product__price {
    font-size: 1.5vw;
    min-width: 20%;
}

.product__name {
    text-align: center;
}

.product__link {
    display: flex;
    justify-content: flex-end;
    min-width: 20%;
    text-decoration: none;
    color: #1D4289;
}

.product__link:hover {
    transform: scale(1.2);
}

.product__link:visited {
    color: #1D4289;
}
/************************************ PRODUCT END ************************************/
/************************************ SHOP PAGE END ************************************/

/************************************ DETAIL PAGE START ************************************/
.detail__product {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    font-size: 1.5vw;
}

.detail__image-container {
    border: 0.3vw solid #C80F2E;
    border-color: #C80F2E #C80F2E #1D4289 #1D4289;
    border-radius: 5px;
}

.detail__image {
    width: 30vw;
}

.detail__info-product {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.detail__info-buy {
    padding: 1vw 0;
    border-bottom: 0.2vw solid #C80F2E;
    border-right: 0.2vw solid #C80F2E;
    border-radius: 0 0 5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quantity-label {
    color: #1D4289;
}

.quantity__input {
    font-size: 1.5vw;
    width: 3vw;
    outline: none;
    border: 0.1vw solid #1D4289;
    text-align: center;
}
/************************************ DETAIL PAGE END ************************************/

/************************************ CART PAGE START ************************************/
.line-order {
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
    margin: 0 10em 0 10em;
    padding: 1em;
    border-bottom: 3px solid #1D4289;
}

.line-order__item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.line-order__input {
    margin: 0 10%;
    width: 20%;
    font-size: 1vw;
}

.total-import__container {
    display: flex;
    justify-content: flex-end;
    margin: 0 25vw;
    font-size: 1.5vw;
}
/************************************ CART PAGE END ************************************/

/************************************ CONFIRM PAGE END ************************************/
.order-success {
    margin: 5vw 0;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    color: #1D4289;
}
/************************************ CONFIRM PAGE END ************************************/

/************************************ INCONS START ************************************/
.icon {
    width: 2vw;
    margin: 0 2vw;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.arrow-back__container {
    margin: 1vw 0 0 4vw;
}
/************************************ INCONS END ************************************/

/************************************ BUTTON START ************************************/
.button {
    color: #1D4289;
    background-color: transparent;
    border: 0.1vw solid #1D4289;
    text-decoration: none;
    font-size: 1vw;
    border-radius: 5px;
}

.button:hover {
    transform: scale(1.1);
}

.button--buy {
    /* padding: 0.2em 1em; */
    width: 7vw;
    height: 2.5vw;
}

.button--confirm {
    padding: 1em 2em;
    margin: 0 1em;
}

.button-update__container {
    display: flex;
    justify-content: flex-end;
    padding: 0 15vw;
}

.buttons-end__container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.button--go-to {
    padding: 1em 2em;
    font-size: 1vw;
    margin: 0 1em;
    color: #000000;
    border-color: #000000;
}

.button--logout {
    padding: 1em;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.button--update {
    padding: 0.5em 2em;
    color: #C80F2E;
    border-color: #C80F2E;
}

.button:hover {
    cursor: pointer;
}
/************************************ BUTTON END ************************************/

/************************************ MOBILE END ************************************/
@media screen and (max-width: 600px) {
    /************************************ HEADER MOBILE START ************************************/
    .header {
        display: block;
        text-align: center;
        height: 25vw;
        /* background: linear-gradient(45deg, #1D4289 0%, #1D4289 60%, #C80F2E 60%, #C80F2E 100%);
        background-color: #1D4289;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #FFFFFF; */
    }
    
    .header__company-name {
        font-size: 10vw;
        /* text-align: center; */
        /* font-size: 4vw;
        padding: 1em; */
    }

    .header__user-info {
        /* display: flex; */
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 2vw;
        height: auto;
        font-size: 4vw;
        /* height: 100%;
        margin-right: 0.2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; */
    }

    .header__user-wellcome {
        /* margin-right: 3vw; */
        /* display: flex;
        align-items: center;
        padding-right: 2vw; */
    }

    .header__user-cart--number {
        margin-left: -10vw;
        width: 6vw;
        height: 6vw;
        margin-top: 3vw;
        /* color: #FFFFFF;
        padding: 0.1vw 0.6vw;
        background-color: #000000;
        border-radius: 50%;
        position: absolute;
        margin-left: -2.5vw;
        margin-top: 1vw; */
    }
    /************************************ HEADER MOBILE END ************************************/

    /************************************ SHOP PAGE MOBILE START ************************************/
    .container-products {
        /* display: grid; */
        grid-template-columns: repeat(1, 1fr);
        margin: 1vw 4vw;
    }

    /************************************ PRODUCT MOBILE START ************************************/
    .product {
        border: 1vw solid;
        border-color: #C80F2E #C80F2E #1D4289 #1D4289;
        padding: 5vw;
        /* margin: 3vw;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; */
    }

    .product__image {
        /* width: 100%;
        border-radius: 5px; */
    }

    .product__detail {
        font-size: 5vw;
        /* margin-top: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1vw; */
    }

    .product__price {
        font-size: 7vw;
        /* font-size: 1.5vw;
        min-width: 20%; */
    }

    .product__name {
        /* text-align: center; */
    }

    .product__link {
        /* display: flex;
        justify-content: flex-end;
        min-width: 20%;
        text-decoration: none;
        color: #1D4289; */
    }

    .product__link:hover {
        /* transform: scale(1.2); */
    }

    .product__link:visited {
        /* color: #1D4289; */
    }
    /************************************ PRODUCT MOBILE END ************************************/
    /************************************ SHOP PAGE MOBILE END ************************************/

    /************************************ DETAIL PAGE MOBILE START ************************************/
    .detail__product {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* display: flex;
        justify-content: space-evenly;
        margin-top: 2em;
        font-size: 1.5vw; */
    }

    .detail__image-container {
        width: 80%;
        /* border: 0.3vw solid #C80F2E;
        border-color: #C80F2E #C80F2E #1D4289 #1D4289;
        border-radius: 5px; */
    }

    .detail__image {
        /* width: 30vw; */
    }

    .detail__info-product {
        /* width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; */
    }

    .detail__info-buy {
        /* padding: 1vw 0;
        border-bottom: 0.2vw solid #C80F2E;
        border-right: 0.2vw solid #C80F2E;
        border-radius: 0 0 5px 0;
        display: flex;
        justify-content: space-around;
        align-items: center; */
    }

    .quantity-label {
        /* color: #1D4289; */
    }

    .quantity__input {
        /* font-size: 1.5vw;
        width: 3vw;
        outline: none;
        border: 0.1vw solid #1D4289;
        text-align: center; */
    }
    /************************************ DETAIL PAGE MOBILE END ************************************/

    /************************************ CART PAGE MOBILE START ************************************/
    .line-order {
        /* display: flex;
        justify-content: space-between;
        font-size: 1.5vw;
        margin: 0 10em 0 10em;
        padding: 1em;
        border-bottom: 3px solid #1D4289; */
    }

    .line-order__item {
        /* width: 100%;
        display: flex;
        justify-content: center; */
    }

    .line-order__input {
        /* margin: 0 10%;
        width: 20%;
        font-size: 1vw; */
    }

    .total-import__container {
        /* display: flex;
        justify-content: flex-end;
        margin: 0 25vw;
        font-size: 1.5vw; */
    }
    /************************************ CART PAGE MOBILE END ************************************/

    /************************************ CONFIRM PAGE MOBILE END ************************************/
    .order-success {
        /* margin: 5vw 0;
        display: flex;
        justify-content: center;
        font-size: 3vw;
        color: #1D4289; */
    }
    /************************************ CONFIRM PAGE MOBILE END ************************************/

    /************************************ INCONS MOBILE START ************************************/
    .icon {
        margin: 0 8vw;
        height: 8vw;
        width: 8vw;
        /* width: 2vw;
        margin: 0 2vw; */
    }

    .icon:hover {
        /* cursor: pointer;
        transform: scale(1.3); */
    }

    .arrow-back__container {
        /* margin: 1vw 0 0 4vw; */
    }
    /************************************ INCONS MOBILE END ************************************/

    /************************************ BUTTON MOBILE START ************************************/
    .button {
        border: 0.5vw solid #1D4289;
        font-size: 4vw;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* color: #1D4289;
        background-color: transparent;
        text-decoration: none;
        font-size: 1vw;
        border-radius: 5px; */
    }

    .button:hover {
        /* transform: scale(1.1); */
    }

    .button--buy {
        /* padding: 0.2em 1em;
        width: 7vw;
        height: 2.5vw; */
    }

    .button--confirm {
        /* padding: 1em 2em;
        margin: 0 1em; */
    }

    .button-update__container {
        /* display: flex;
        justify-content: flex-end;
        padding: 0 15vw; */
    }

    .buttons-end__container {
        /* display: flex;
        justify-content: center;
        margin-bottom: 2em; */
    }

    .button--go-to {
        /* padding: 1em 2em;
        font-size: 1vw;
        margin: 0 1em;
        color: #000000;
        border-color: #000000; */
    }

    .button--logout {
        height: 7vw;
        width: 35vw;
        border-color: #FFFFFF;
        color: #FFFFFF;
        /* padding: 1em;
        color: #FFFFFF;
        border-color: #FFFFFF; */
    }

    .button--update {
        /* padding: 0.5em 2em;
        color: #C80F2E;
        border-color: #C80F2E; */
    }

    .button:hover {
        /* cursor: pointer; */
    }
    /************************************ BUTTON MOBILE END ************************************/
}
/************************************ MOBILE END ************************************/