<div class="p-2 col text-center">{{ product.name }}</div>
<div class="p-2 col-4 text-center">{{ product.description }}</div>
<div class="p-2 col text-center">{{ product.price | currency:'EUR':'symbol' }}</div>
<div class="p-2 col text-center">{{ product.quantity }}</div>
<div class="p-2 col text-center">
    <button (click)="selectProduct(product)" type="button" class="btn btn-light" data-toggle="modal" data-target="#modalProduct">
        <i class="far fa-edit"></i>
    </button>
</div>
<div class="p-2 col text-center">
    <button (click)="selectProduct(product)" type="button" class="btn btn-light" data-toggle="modal" data-target="#modalDeleteProduct">
        <i class="fas fa-trash"></i>
    </button>
</div>
<hr class="col-12"/>
