@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap");
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

.container {
    width: 90%;
    margin: 0 auto;
    font-family: "DM Serif Text", serif;
    /* font-family: 'Acme', sans-serif; */
    /* border: 1px solid black; */
}

.outstanding-news {

}

.outstanding-news__title {
    margin-bottom: 0;
    font-size: 4vw;
}

.outstanding-news__container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1vw 1vw;
}

.last-news {

}

.last-news__title {
    margin-bottom: 0;
    font-size: 2vw;
}

.last-news__container {
    display: grid;
    grid-template-rows: repeat(2, 23vw);
    grid-template-columns: repeat(3, 29vw);
    grid-gap: 2vw 2vw;
}

.main__new {
    grid-area: 1 / 1 / 3 / 3;
    /* display: flex;
    flex-direction: column; */
    border: 1px solid black;
}

.new {
    /* display: flex;
    flex-direction: column; */
    border: 1px solid black;

}

.new__image {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.new__headline {
    display: block;
    /* position: relative; */
    font-size: 1.5vw;
    padding: 1em;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(10, 10, 10, 0.9);
    z-index: 2;
    /* bottom: 50px; */
}