@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap");

.container {
    width: 90%;
    margin: 0 auto;
}


.outstanding-news__title {
    margin-bottom: 0;
    font-size: 4vw;
    font-family: "DM Serif Text", serif;
}

.outstanding-news__container {
    display: grid;
    grid-template: repeat(2, 15vw) / repeat(5, 15vw);
    grid-gap: 3vw 3vw;
}

.last-news__title {
    margin-bottom: 0;
    font-size: 2vw;
    font-family: "DM Serif Text", serif;
}

.last-news__container {
    display: grid;
    grid-template: repeat(3, 15vw) / repeat(5, 15vw);
    grid-gap: 3vw 3vw;
}

.main__new {
    position: relative;
    grid-area: 1 / 1 / 3 / 3;
}

.new {
    position: relative;
}

.new__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.new__headline {
    display: block;
    max-width: 50%;
    position: absolute;
    font-size: 1.1vw;
    padding: 1em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    bottom: 10px;
    left: 10px
}

.new1 {
    grid-area: 1 / 1 / 2 / 2;
}

.new2 {
    grid-area: 1 / 3 / 2 / 4;
}

.new3 {
    grid-area: 1 / 5 / 2 / 6;
}

.new4 {
    grid-area: 2 / 2 / 3 / 3;
}

.new5 {
    grid-area: 2 / 4 / 3 / 5;
}

.new6 {
    grid-area: 3 / 3 / 4 / 4;
}

@media screen and (max-width: 500px) and (orientation: portrait) {
    .container {
        width: 90%;
    } 
    
    .outstanding-news__title {
        font-size: 8vw;
    }
    
    .outstanding-news__container {
        grid-template: repeat(6, 85vw) / repeat(1, 85vw);
        grid-gap: 3vw 0;
    }
    
    .last-news__title {
        font-size: 7vw;
    }
    
    .last-news__container {
        grid-template: repeat(6, 85vw) / repeat(1, 85vw);
        grid-gap: 3vw 0;
    }
    
    .main__new {
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .new__headline {
        max-width: 70%;
        font-size: 5vw;
        padding: 0.5em;
    }

    .new1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .new2 {
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .new3 {
        grid-area: 3 / 1 / 4 / 2;
    }
    
    .new4 {
        grid-area: 4 / 1 / 5 / 2;
    }
    
    .new5 {
        grid-area: 5 / 1 / 6 / 2;
    }
    
    .new6 {
        grid-area: 6 / 1 / 7 / 2;
    }
}