<!-- <div>
    Cabecera
</div>
<div *ngFor="let product of products">
    <app-product [product]="product"></app-product>
</div> -->

<div class="card">
    <div class="card-header bg-primary text-white">
        {{title}}
    </div>
    <div class="card-block">
        <div class="table-responsive" *ngIf="products">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{headers.desc}}</th>
                        <th>{{headers.price}}</th>
                        <th>{{headers.avail}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{product.desc}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.avail}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>