<div class="card">
    <div class="card-header bg-primary text-white">
        {{title}}
    </div>
    <div class="card-block">
        <form class="form">
            <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right" for="filterDesc">Filtro:</label>
                <div class="col-sm-5">
                    <input type="text" [(ngModel)]="filterSearch" class="form-control" name="filterDesc" id="filterDesc"
                        placeholder="Filter...">
                </div>
                <label class="col-form-label col-sm-5">
                    Filtrando por: {{filterSearch}}</label>
            </div>
        </form>
        <div *ngIf="products && products.length">
            <div class="row headers no-gutters">
                <div class="col-2">
                    <button class="btn btn-sm" [ngClass]="{'btn-danger': showImage, 'btn-primary': !showImage}"
                        (click)="toggleImage()">
                        {{showImage?'Hide':'Show'}} images
                    </button></div>
                <div class="col-4">{{headers.desc}}</div>
                <div class="col">{{headers.price}}</div>
                <div class="col">{{headers.avail}}</div>
            </div>
            <app-product-item *ngFor="let product of products | productFilter: filterSearch"
                [product]="product" [showImage]="showImage" class="row no-gutters"></app-product-item>
        </div>
    </div>
</div>

