<div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <h6 class="card-subtitle mb-2 text-right text-muted">Admin</h6>
      <hr>
      <div class="card-text row mt-5">
        <div class="form-group col-12 text-center col-md-6">
            <label for="dni_input">DNI</label>
            <input class="form-control text-center" name="dni" [(ngModel)]="client.dni" id="dni_input" type="text">
        </div>
        <div class="form-group col-12 text-center col-md-6">
            <label for="password_input">Passowrd</label>
            <input class="form-control text-center" name="password" [(ngModel)]="client.password" id="password_input" type="password">
        </div>
      </div>
      <div *ngIf="errorNotLogged" class="row text-center alert alert-danger">
        <span class="col-12">usuario o contraseña incorrecto</span>
    </div>
      <div class="row d-flex justify-content-center mt-5">
        <button (click)="login()" type="button" class="btn btn-primary">Iniciar sesión</button>
      </div>
    </div>
</div>
