<td class="bg-light p-2 col text-center">{{ lineOrder.lineId }}</td>
<td class="bg-light p-2 col text-center">{{ lineOrder.orderId }}</td>
<td class="bg-light p-2 col text-center">{{ lineOrder.productId }}</td>
<td class="bg-light p-2 col text-center">
    <button type="button" class="btn btn-light">
        <i class="far fa-edit"></i>
    </button>
</td>
<td class="bg-light p-2 col text-center">
    <button type="button" class="btn btn-light">
        <i class="fas fa-trash"></i>
    </button>
</td>