<div class="mt-5">
    <h3>Administración de pedidos</h3>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="text-center" scope="col">ID</th>
            <th class="text-center" scope="col">Fecha</th>
            <th class="text-center" scope="col">Cliente</th>
            <th class="text-center" scope="col">Editar</th>
            <th class="text-center" scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text-center" scope="row">1</th>
            <td class="text-center">22/05/2020</td>
            <td class="text-center">654654654</td>
            <td class="text-center"><i class="far fa-edit"></i></td>
            <td class="text-center"><i class="fas fa-trash"></i></td>
        </tr>
    </tbody>
</table>