<div class="p-2 col text-center">{{ client.dni }}</div>
<div class="p-2 col text-center">{{ client.name }}</div>
<div class="p-2 col text-center">{{ client.address }}</div>
<div class="p-2 col text-center">{{ client.email }}</div>
<div class="p-2 col text-center">{{ client.admin ? 'Sí' : 'No' }}</div>
<div class="p-2 col text-center">
    <button (click)="selectClient(client)" type="button" class="btn btn-light" data-toggle="modal" data-target="#modalClient">
        <i class="far fa-edit"></i>
    </button>
</div>
<div class="p-2 col text-center">
    <button (click)="selectClient(client)" type="button" class="btn btn-light" data-toggle="modal" data-target="#modalDeleteClient">
        <i class="fas fa-trash"></i>
    </button>
</div>


