<div class="p-2 col text-center">{{ client.id }}</div>
<div class="p-2 col text-center">{{ client.dni }}</div>
<div class="p-2 col text-center">{{ client.name }}</div>
<div class="p-2 col text-center">{{ client.surname }}</div>
<div class="p-2 col text-center">
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modalClient">
        <i class="far fa-edit"></i>
    </button>
</div>
<div class="p-2 col text-center">
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modalDeleteClient">
        <i class="fas fa-trash"></i>
    </button>
</div>


