<div class="modal fade" id="modalDeleteOrder" tabindex="-1" role="dialog" aria-labelledby="orderDeleteModalTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderDeleteModalTitle">¿Estás seguro que deseas eliminar el pedido?</h5>
                <button #closeDeleteOrderModalBtn type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="isDeletting" class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div *ngIf="!isDeletting">
                    ID: {{ orderSelected?.id }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" (click)="deleteOrder()">Eliminar</button>
            </div>
        </div>
    </div>
</div>