@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

* {
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
}

.video-background {
    width: 100vw;
    height: 100vh;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.msg-box {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 320px;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.msg-title {
    font-size: calc(18px + 1.5vw);
    color: white;
}

.msg-subtitle {
    margin-top: 40px;
    font-size: calc(16px + 1.2vw);
    color: white;
    font-weight: lighter;
}

.countdown {
    font-size: calc(12px + 0.5vw);
    color: white;
    font-weight: lighter;
}

.muted-button {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: grey;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.muted-button:hover {
    cursor: pointer;
}

.icon {
    color: white;
}