.alert {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 15px;
    background-color: #f5f5f5;
    width: 60%;
    box-sizing: border-box;
    margin: 20px auto;
    border-left: 5px solid;
}

.alert:hover {
    background-color: #efefef;
}

.alert--large {
    font-size: 2em;
    padding: 30px 15px;
}

.alert--large .icon {
    width: 30px;
}

.alert--small {
    font-size: 0.8em;
    padding-left: 10px;
}

.alert--small .icon {
    width: 15px;
}

.alert--success {
    border-left-color: rgb(0, 192, 0);
}

.alert--error {
    border-left-color:rgb(255, 0, 0);
}

.alert--info {
    border-left-color:rgb(0, 174, 255);
}

.alert--warning {
    border-left-color:rgb(255, 166, 0);
}

.icon {
    float: right;
    width: 20px;
    opacity: 0.6;
}

.icon:hover {
    cursor: pointer;
    opacity: 1;
}
