@media screen and (min-width: 1024px) and (max-width: 1280px) {
    body {
        background-color: green;
    }
}

@media screen and (min-width: 480px) and (max-width: 1023px) {
    body {
        background-color: orange;
    }
}

@media screen and (max-width: 479px) {
    body {
        background-color: red;
    }
}
