<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Opciones</title>
</head>
<body>
    <form action="../controller/formulario.php" method="post">
        <input type="text" name="option1" placeholder="Directiorio 1"><br><br>
        <input type="text" name="option2" placeholder="Directiorio 2"><br><br>
        <input type="text" name="option3" placeholder="Directiorio 3"><br><br>
        <input type="text" name="option4" placeholder="Directiorio 4"><br><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>