<div class="my-3 d-flex justify-content-end">
    <button (click)="openModalToAddOrder()" data-toggle="modal" data-target="#modalOrder" type="button" class="btn btn-primary">Añadir pedido</button>
</div>
<div *ngIf="!orders" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div *ngIf="orders">
    <div class="bg-dark text-white">
        <div class="row">
            <div class="p-2 col text-center">Fecha</div>
            <div class="p-2 col text-center">Cliente</div>
            <div class="p-2 col text-center">Ver productos</div>
            <div class="p-2 col text-center">Editar</div>
            <div class="p-2 col text-center">Eliminar</div>
        </div>
    </div>
    <div *ngIf="orders?.length < 1" class="row mt-3">
        <h5 class="col-12 text-center">No existen pedidos</h5>
    </div>
    <div>
        <app-row-order class="row" *ngFor="let order of orders" [order]="order" (seeLinesOrder)="linesOrder" (orderSelected)="updateOrderSelected($event)"></app-row-order>
    </div>
</div>

<app-modal-order [(modalType)]="modalType" [orderSelected]="orderSelected" (orderCreated)="addOrderOnTable($event)" (orderUpdated)="updateOrder($event)"></app-modal-order>
<app-modal-delete-order [orderSelected]="orderSelected" (orderDeleted)="removeOrder($event)"></app-modal-delete-order>
