<div class="modal fade" id="modalOrder" tabindex="-1" role="dialog" aria-labelledby="orderModalTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalTitle">{{ title }}</h5>
                <button (click)="closeModal()" #closeOrderModalBtn type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="isSendingData" class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div *ngIf="isErrorResponse" class="alert alert-danger" role="alert">
                    <span *ngIf="modalType === 'ADD'">Ha habido un error al añadir el pedido</span>
                    <span *ngIf="modalType === 'EDIT'">Ha habido un error al actualizar el pedido</span>
                </div>
                <div *ngIf="!isSendingData && !isErrorResponse" class="row">
                    <div *ngIf="clients?.length > 0" class="form-group col-12">
                        <label for="client_select">Cliente</label>
                        <select id="client_select" class="form-control" [(ngModel)]="orderSelected.dniClient" required>
                            <option value="">Elige un cliente</option>
                            <option *ngFor="let client of clients" [value]="client.dni"
                                [attr.selected]="orderSelected.dniClient === client.dni">{{ client.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="closeModal()" type="button" class="btn btn-secondary"
                    data-dismiss="modal">Cerrar</button>
                <button *ngIf="!isErrorResponse" (click)="saveOrder()" type="button"
                    class="btn btn-primary">{{ saveButtonText }}</button>
            </div>
        </div>
    </div>
</div>